<div class="row about-container">
  <div class="col-sm-4 left-arrow-container">
  <%= link_to image_tag('left_arrow.png', class: 'arrow-img'), design_path, class: 'arrow' %>
  </div>
  <div class="col-sm-4 page-header-container">
    <h1><span id="page-header">ABOUT</span></h1>
  </div>
  <div class="col-sm-4 right-arrow-container">
    <%= link_to image_tag('right_arrow.png', class: 'arrow-img'), contact_path, class: 'arrow' %>
  </div>

  <div class="col-sm-4 col-sm-offset-4 about-summary-container">
    <div class="col-sm-12">
      <%= image_tag('lc.jpg', class: 'img-circle portrait') %>
      <br>
      <br>
      <p>
        Hello my name is Lawrence Chang. I graduated from UCLA with a BA in Economics. I am passionate about user experience, have an eye for design, fast learner and come from an analytical background.
        <br>
        <br>
        Moving forward I am looking for an opportunity to become a web developer where I can make an impact from day 1. I am looking for a great personality and cultural fit as well as a company that is eager to learn as they are to teach.
      </p>
    </div>
  </div>

  <div class="col-sm-12 grid-container">
    <div class="col-sm-2 grid1">
      <span class="grid-text">Ruby</span>
    </div>
    <div class="col-sm-2 grid2">
      <span class="grid-text">Ruby on Rails</span>
    </div>
    <div class="col-sm-2 grid3">
      <span class="grid-text">HTML</span>
    </div>
    <div class="col-sm-2 grid4">
      <span class="grid-text">CSS</span>
    </div>
    <div class="col-sm-2 grid5">
      <span class="grid-text">JavaScript</span>
    </div>
    <div class="col-sm-2 grid6">
      <span class="grid-text">jQuery</span>
    </div>
    <div class="col-sm-2 grid7">
      <span class="grid-text">Ajax</span>
    </div>
    <div class="col-sm-2 grid8">
      <span class="grid-text">SQL</span>
    </div>
    <div class="col-sm-2 grid9">
      <span class="grid-text">PostgreSQL</span>
    </div>
    <div class="col-sm-2 grid1">
      <span class="grid-text">ActiveRecord</span>
    </div>
    <div class="col-sm-2 grid2">
      <span class="grid-text">Git</span>
    </div>
    <div class="col-sm-2 grid3">
      <span class="grid-text">GitHub</span>
    </div>
    <div class="col-sm-2 grid4">
      <span class="grid-text">Sinatra</span>
    </div>
    <div class="col-sm-2 grid5">
      <span class="grid-text">Heroku</span>
    </div>
    <div class="col-sm-2 grid6">
      <span class="grid-text">Redis</span>
    </div>
    <div class="col-sm-2 grid7">
      <span class="grid-text">TDD</span>
    </div>
    <div class="col-sm-2 grid8">
      <span class="grid-text">Rspec</span>
    </div>
    <div class="col-sm-2 grid9">
      <span class="grid-text">Capybara</span>
    </div>
    <div class="col-sm-2 grid1">
      <span class="grid-text">FactoryGirl</span>
    </div>
    <div class="col-sm-2 grid2">
      <span class="grid-text">Bootstrap</span>
    </div>
    <div class="col-sm-2 grid3">
      <span class="grid-text">Sass</span>
    </div>
    <div class="col-sm-2 grid4">
      <span class="grid-text">JSON</span>
    </div>
    <div class="col-sm-2 grid5">
      <span class="grid-text">Pair Programming</span>
    </div>
    <div class="col-sm-2 grid6">
      <span class="grid-text">API Integration</span>
    </div>
  </div>
</div>
