<div class="row contact-container">
  <div class="col-sm-12 map-container">
    <div id="map"></div>
  </div>
  <div class="col-sm-12 contact-info-container">
    <h1>Say hello <a href="mailto:lchangdev@gmail.com" target="_blank" class="contact-email">lchangdev@gmail.com</a></h1>
  </div>
</div>
