<div class="row contact-container">
  <div class="col-sm-12 map-container">
    <div id="map"></div>
  </div>
  <div class="col-sm-12 contact-info-container">
    <h1>Say hello<%= image_tag('marker.png', class: 'marker-img') %> <a href="mailto:lchangdev@gmail.com" class="contact-email">lchangdev@gmail.com</a></h1>
  </div>
</div>
