<div class="row design-container">
  <div class="col-sm-4 left-arrow-container">
  <%= link_to image_tag('left_arrow.png', class: 'arrow-img'), code_path, class: 'arrow' %>
  </div>
  <div class="col-sm-4 page-header-container">
    <h1><span id="page-header">DESIGN</span></h1>
  </div>
  <div class="col-sm-4 right-arrow-container">
    <%= link_to image_tag('right_arrow.png', class: 'arrow-img'), about_path, class: 'arrow' %>
  </div>

  <div class="col-sm-6 piece-container" id="piece1">
    <button class="btn piece-btn" data-toggle="modal" data-target="#zetoModal">
      <h2 class="piece-header">zeto</h2>
    </button>
  </div>

  <div class="col-sm-6 piece-container" id="piece2">
    <button class="btn piece-btn" data-toggle="modal" data-target="#sixTwelveModal">
      <h2 class="piece-header">sixtwelve</h2>
    </button>
  </div>
  <!-- Modals -->

  <div class="modal fade" id="zetoModal" tabindex="-1" role="dialog" aria-labelledby="zetoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="zetoModalLabel">zeto</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2 piece-summary-container">
              <h1>Summary</h1>
              <p>
                My most recent project is called zeto. The problem I wanted to address with zeto was that Launch Academy, a 10 week immersive bootcamp, had no cohesive network for all students to connect with one another. So I created zeto, a medium for past, present and future students of Launch Academy to connect and more importantly stay connected. Zeto was built with Rails, Ruby, HTML, CSS, SASS, JavaScript, jQuery, Ajax along with Facebook omniauth, Mapbox and JSON. The github repository link is: <a href="github.com/lchangdev/zeto-la"><span class="paragraph-link">zeto github repository</span></a>. The live web application can be found here: <a href="http://zeto-la.herokuapp.com"><span class="paragraph-link">zeto</span></a>.
              </p>
            </div>
            <div class="col-xs-10 col-xs-offset-1 piece1-img1-container">
            </div>
            <div class="col-xs-10 col-xs-offset-1 piece1-img2-container">
            </div>
            <div class="col-xs-10 col-xs-offset-1 piece1-img3-container">
            </div>
            <div class="col-xs-10 col-xs-offset-1 piece1-img4-container">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="sixTwelveModal" tabindex="-1" role="dialog" aria-labelledby="sixTwelveModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="sixTwelveModalLabel">sixtwelve</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2 piece-summary-container">
              <h1>Summary</h1>
              <p>
              </p>
            </div>
            <div class="col-xs-10 col-xs-offset-1 piece2-img1-container">
            </div>
            <div class="col-xs-10 col-xs-offset-1 piece2-img2-container">
            </div>
            <div class="col-xs-10 col-xs-offset-1 piece2-img3-container">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
