<div class="row work-container">
  <div class="col-sm-6 piece1">
    <div class="col-sm-12 zeto-container">
    </div>
  </div>
  <div class="col-sm-6 piece2">
    <div class="col-sm-12">
      sixtwelve
    </div>
  </div>
  <div class="col-sm-6 piece3">
    <div class="col-sm-12">
      minesweeper
    </div>
  </div>
  <div class="col-sm-6 piece4">
    <div class="col-sm-12">
      rubygem gallery
    </div>
  </div>
  <div class="col-sm-6 piece1">
    <div class="col-sm-12">
      zeto
    </div>
  </div>
  <div class="col-sm-6 piece2">
    <div class="col-sm-12">
      sixtwelve
    </div>
  </div>
</div>
