<div class="header-container">
  <div class="jumbotron">
    <div class="container">
      <h1><span id="page-header">code &#38; design</span></h1>
      <p>web developer. ruby enthusiast. zombie apocalypse strategist.</p>
      <%= link_to image_tag('right_arrow.png'), code_path, class: 'home-enter-btn' %>
    </div>
  </div>
  <div class="col-md-12 footer">
    <p>photography by: Rayi Christian W</p>
  </div>
</div>
