<div class="header-container">
  <div class="jumbotron">
    <div class="container">
      <h1><span id="homepage-header">code <span id="and">&#38;</span> design</span></h1>
      <p id="tagline">web developer. coffee enthusiast. zombie apocalypse strategist.</p>
      <%= button_to ">", portfolio_path, method: :get, class: "btn enter-btn" %>
    </div>
  </div>
</div>
