<div class="header-container">
  <div class="jumbotron">
    <div class="container">
      <h1><span id="homepage-header">code &#38; design</span></h1>
      <p id="tagline">web developer. coffee enthusiast. zombie apocalypse strategist.</p>
      <%= link_to image_tag('icons/right_arrow.png', class: 'home-enter-btn'), portfolio_path %>
    </div>
  </div>
</div>
